@model RepartidorOnline.UI.Models.LoginViewModel
@{
    ViewBag.Title = "Login";
}

@*@{
    Layout = null;
}*@

<head>
    <link href="~/Content/css/StyleLogin.css" rel="stylesheet" />
</head>

<div class="content-login">
    <div class="card">
        <div class="card-header">
            <h4>Iniciar sesión</h4>
            <div class="d-flex social_icon">
                <span><i class="fab fa-facebook-square"></i></span>
                <span><i class="fab fa-google-plus-square"></i></span>
                <span><i class="fab fa-twitter-square"></i></span>
            </div>
        </div>
        <div class="card-body">
            @using (Html.BeginForm())
            {
                <form>
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-user"></i></span>
                        </div>
                        @Html.EditorFor(items => items.Login, new { htmlAttributes = new { @type = "text", @class = "form-control", @placeholder = "username" } })

                    </div>
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-key"></i></span>
                        </div>
                        @Html.EditorFor(items => items.Password, new { htmlAttributes = new { @type = "password", @class = "form-control", @placeholder = "password" } })
                    </div>
                    <div class="form-group">
                        @*<input type="submit" value="Login" class="btn">*@
                        <button type="submit" class="btn-base-main btn" data-toggle="button" aria-pressed="false" autocomplete="off">
                            Iniciar Sesión
                        </button>
                    </div>
                </form>
            }
        </div>
        <div class="card-footer">
            <div class="d-flex justify-content-center links">
                ¿No tienes una cuenta? <a href="#"> Regístrate</a>
            </div>
        </div>
    </div>
</div>

