@import "Helper/StyleColor";

body {
}

.content-tienda {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 65px auto;
    /*grid-gap: 10px;*/
    padding: 10px;

    .titulo-tienda {
    }

    .content-tienda-botones {
        display: grid;
        grid-template-columns: repeat(4,20vw);
        grid-auto-rows: 20vh;
        justify-content: center;
        /*align-content: center;*/
        grid-gap: 10px;

        .item-tienda figure:hover img {
            /*height: 100%;
            width: 100%;*/
            -webkit-transform: scale(1.2);
            transform: scale(1.2);
        }

        .item-tienda {
            /*grid-row: 2 / 3;*/
            height: 100%;
            width: 100%;

            button {
                height: 100%;
                width: 100%;
            }

            figure {
                /*display:grid;*/
                height: 100%;
                width: 100%;
                margin-top: 4%;
            }

            img {
                height: 80%;
                width: 80%;
                -webkit-transform: scale(1);
                transform: scale(1);
                -webkit-transition: .3s ease-in-out;
                transition: .3s ease-in-out;
            }


            .color-tienda-naranja {
                background: #ff6a00;
            }

            .color-tienda-rojo {
                background: #ff0000;
            }

            .color-tienda-verde {
                background: #238a30;
            }

            .color-tienda-amarillo {
                background: #ffd800;
            }

            .color-tienda-verde-oscuro {
                background: #003016;
            }

            .color-tienda-rojo-cereza {
                background: #E10613
            }
        }
    }
}

.item-tienda-boton:hover {
    /*height: 100%;
    width: 100%;*/
    background:#ffffff;
}

