/*$base-color: linear-gradient(130deg,#ffd14e 0,#ef5a5c 70%);*/
$header-color: #FAFAF8;
$content-color: #E9E8E7;
$footer-color: #9E9E9E;
$base-color: linear-gradient(130deg,#FF9800 0,#CA3648 70%);
$base-color-second: #CA3648;

