
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_LayoutMain</title>
    @Styles.Render("~/Content/main/css")
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
</head>
<body>
    <div class="grid-container-main">
        <header class="header-main">

            <div class="header-main-content">
                <div class="header-main-logo">
                    <img src="~/Content/img/logo-header.PNG" />
                    @*<p class="">ServEntrega</p>*@
                </div>
                <div class="header-search-box">
                    <input class="header-input-search" type="text" placeholder="Busca Cualquier Producto" name="" value="" />
                    <button class="header-button-search base-button-main">
                        <i class="fas fa-search fa-lg"></i>
                    </button>
                    

                </div>
                <div class="header-shopping-cart">
                    <button class="base-button-main btn-hover">
                        <i class="fas fa-shopping-basket fa-lg"></i>
                    </button>
                </div>
                <div class="header-login-button">
                    <button class="btn-hover base-button-main">
                        Iniciar Sesión
                    </button>
                </div>
            </div>
        </header>

        <div class="content-main">
            @RenderBody()
        </div>
        <footer class="footer-main">
        </footer>
    </div>
    <script>

    </script>
</body>
</html>

