@model List<RepartidorOnline.Application.DTO.Stores.ObtenerTiendasResponseDto>

<head>
    <link href="~/Content/css/StyleTienda.min.css" rel="stylesheet" />
</head>

<div class="content-tienda">

    <div>
        <h2 class="titulo-tienda">Tiendas disponibles</h2>
        <hr class="my-1">
    </div>

    <div class="content-tienda-botones">

        @foreach (var item in Model)
        {

            <div class="item-tienda">
                <button id="id-tienda-@item.IdTienda" value="@item.IdTienda" class="btn item-tienda-boton @item.ClaseColor">
                    <figure>
                        <img src="~/Content/img/@item.ImagenSrc" />
                    </figure>
                </button>

            </div>
        }

    </div>
</div>

@*<script type="text/javascript">
        $(document).ready(app.pagina.Tienda.InitTienda);
</script>*@
